/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  min-height: 100vh;
  width: 100%; }

div.start {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center; }
  div.start .button {
    cursor: pointer; }

div.buttons {
  height: 50vh;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  div.buttons .button {
    padding: 40px;
    border-radius: 15px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-family: system-ui, sans-serif;
    box-shadow: 0 0 80px -20px rgba(0, 0, 0, 0);
    transition: box-shadow ease 0.5s;
    cursor: pointer;
    color: white; }
  div.buttons .button-a {
    background-color: #BCB382; }
  div.buttons .button-b {
    background-color: #2D4739; }
  div.buttons .button-c {
    background-color: #3C4F76; }
  div.buttons .button-a:hover {
    box-shadow: 0 0 80px -10px #BCB382;
    transition: box-shadow ease 0.5s; }
  div.buttons .button-b:hover {
    box-shadow: 0 0 80px -10px #2D4739;
    transition: box-shadow ease 0.5s; }
  div.buttons .button-c:hover {
    box-shadow: 0 0 80px -10px #3C4F76;
    transition: box-shadow ease 0.5s; }

div.lamps {
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  div.lamps .lamp {
    border-radius: 75px;
    min-height: 100px;
    min-width: 100px;
    background-color: red; }
  div.lamps .lamp-a {
    background-color: #BCB382;
    border: 3px solid #BCB382; }
  div.lamps .lamp-b {
    background-color: #2D4739;
    border: 3px solid #2D4739; }
  div.lamps .lamp-c {
    background-color: #3C4F76;
    border: 3px solid #3C4F76; }

.off {
  background-color: white !important; }
