div.lamps {
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .lamp {
    border-radius: 75px;
    min-height: 100px;
    min-width: 100px;
    background-color: red;
  }

  .lamp-a {
    background-color: $color-a;
    border: 3px solid $color-a;
  }

  .lamp-b {
    background-color: $color-b;
    border: 3px solid $color-b;
  }

  .lamp-c {
    background-color: $color-c;
    border: 3px solid $color-c;
  }
}

.off {
  background-color: white !important;
}
